@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

:root {
    --light: #cee3e9;
    --neon: #52ffa8;

    --dark1: #1f2632;
    --dark2: #323a49;
    --dark3: #4e5d73;
}

* {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

body {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dark1);
}

.advice-container {
    width: 350px;
    min-height: 300px;
    position: relative;
    text-align: center;
    padding: 3rem 2rem 4rem 2rem;
    row-gap: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background: var(--dark2);
    color: var(--light);
}

.title {
    font-size: .8rem;
    letter-spacing: 3px;
    color: var(--neon);
}

.advice {
    font-size: 1.6rem;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider * {
    width: 100%;
}

.new-advice {
    width: max-content;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: -32px;
    display: flex;
    padding: 20px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background: var(--neon);
    transition: .5s;
}

.new-advice img {
    width: 25px;
    height: 25px;
}

.new-advice:hover {
    box-shadow: 0px 0px 50px var(--neon);
}

@media (min-width: 375px) {
    .advice-container {
        width: auto;
        max-width: 500px;
    }
}